[submodule "ssm-client"]
	path = sources/ssm-client
	url = https://github.com/shatteredsilicon/ssm-client
	branch = ssm-1.x
[submodule "qan-agent"]
	path = sources/qan-agent
	url = https://github.com/shatteredsilicon/qan-agent
	branch = ssm-1.x
[submodule "node_exporter"]
	path = sources/node_exporter
	url = https://github.com/shatteredsilicon/node_exporter
	branch = ssm-1.x
[submodule "mysqld_exporter"]
	path = sources/mysqld_exporter
	url = https://github.com/shatteredsilicon/mysqld_exporter
	branch = ssm-1.x
[submodule "mongodb_exporter"]
	path = sources/mongodb_exporter
	url = https://github.com/shatteredsilicon/mongodb_exporter
	branch = ssm-1.x
[submodule "proxysql_exporter"]
	path = sources/proxysql_exporter
	url = https://github.com/shatteredsilicon/proxysql_exporter
	branch = ssm-1.x
[submodule "ssm-manage"]
	path = sources/ssm-manage
	url = https://github.com/shatteredsilicon/ssm-manage
	branch = ssm-1.x
[submodule "ssm-managed"]
	path = sources/ssm-managed
	url = https://github.com/shatteredsilicon/ssm-managed
	branch = ssm-1.x
[submodule "ssm-server"]
	path = sources/ssm-server
	url = https://github.com/shatteredsilicon/ssm-server
	branch = ssm-1.x
[submodule "rds_exporter"]
	path = sources/rds_exporter
	url = https://github.com/shatteredsilicon/rds_exporter
	branch = ssm-1.x
[submodule "postgres_exporter"]
	path = sources/postgres_exporter
	url = https://github.com/shatteredsilicon/postgres_exporter
	branch = ssm-1.x
[submodule "pid-watchdog"]
	path = sources/pid-watchdog
	url = https://github.com/shatteredsilicon/pid-watchdog
	branch = ssm-1.x
[submodule "ssm-dashboards"]
	path = sources/ssm-dashboards
	url = https://github.com/shatteredsilicon/grafana-dashboards
	branch = ssm-1.x
[submodule "ssm-qan-api"]
	path = sources/ssm-qan-api
	url = https://github.com/shatteredsilicon/qan-api
	branch = ssm-1.x
[submodule "ssm-qan-app"]
	path = sources/ssm-qan-app
	url = https://github.com/shatteredsilicon/qan-app
	branch = ssm-1.x
[submodule "dep"]
	path = build/rpmbuild-docker/dep
	url = https://github.com/golang/dep.git
	branch = master
